.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app__content {
  flex: 1;
  width: 100%;
  min-width: 0;
}

h1 {
  font-size: 2rem;
  line-height: 1.2;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.3;
  margin: 0;
}
